.link {
  color: white;
  font-size: 60px;
  cursor: pointer;
  padding: 0px 18px;
  margin-left: 130px;
  margin-top: 25px;
  text-align: center;
  text-shadow: none;
  background: slateblue;
  border-radius: 50%;
  border: 1px solid slateblue;
  font-weight: 800;
}

.link2 {
  color: white;
  font-size: 20px;
  margin-left: 100px;
  padding: 10px 30px;
  background: slateblue;
  border-radius: 10px;
  font-weight: 800;
  text-decoration-line: none;
}
